<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Second App</title>
  </head>
  <body>
    <h1>Here are your users for Second App</h1>
    <div class="users">
      <ol>
        {% for user in user_list %}
        <li>
          User Info
          <ul>
            <li>{{ user.first_name }}</li>
            <li>{{ user.last_name }}</li>
            <li>{{ user.email }}</li>
          </ul>
        </li>
        {% endfor %}
      </ol>
    </div>
  </body>
</html>
